<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h4 class="fw-light text-center">Login Page</h4>
      <div class="lead text-body-secondary">
        @if (isInvalidUser) {
          <div
            class="alert alert-danger d-flex align-items-center"
            role="alert"
          >
            <div>Invalid email or password.</div>
          </div>
        }

        @if (errorMessage) {
          <div
            class="alert alert-danger d-flex align-items-center"
            role="alert"
          >
            <div>{{ errorMessage }}</div>
          </div>
        }
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="mb-3">
            <label for="email" class="form-label"> Email </label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
              email
              ngModel
              #email="ngModel"
            />
            @if (email.invalid && (email.touched || email.dirty)) {
              @if (email.errors?.["required"]) {
                <div class="text-danger">Email is required.</div>
              }

              @if (email.errors?.["email"]) {
                <div class="text-danger">Pleaes enter a valid email.</div>
              }
            }
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
              ngModel
              #password="ngModel"
            />
            @if (password.invalid && (password.touched || password.dirty)) {
              @if (password.errors?.["required"]) {
                <div class="text-danger">Password is required.</div>
              }
            }
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
      <p>
        Don't have an account?
        <a class="text-decoration-none my-2" routerLink="/register">
          Register here
        </a>
      </p>
    </div>
  </div>
</section>
