<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h4 class="fw-light text-center">Register Page</h4>
      <div class="lead text-body-secondary">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label"> Email </label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="mb-3">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="cpassword" />
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
      <p>
        Already have an account?
        <a href="#" class="text-decoration-none my-2">Login here</a>
      </p>
    </div>
  </div>
</section>
